<nav class="">
  <div class="navsito p-4 row">
    <div class="col-6">
      <a href=""><i class="filter bi bi-facebook" style="font-size: 35px;"></i></a><a href=""><i
          class="filter bi bi-twitter" style="font-size: 35px;"></i></a><a href=""><i class="filter bi bi-youtube"
          style="font-size: 35px;"></i></a>
    </div>

    <div class="papaDelista col-6">
      <div class="hijoDePapa">
        <li class="nav-item ">
          <a class="" href="#" role="" data-bs-toggle="" aria-expanded="">
          </a>


          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="utnIcon p-1 row">
    <div class="iconoUtn col-6">
      <img src="assets/imagenes/Logo Utn.png" width="150px" alt="" />
    </div>
    <div class="col-6">
      <div class="padre">
        <div class="hijo mx-1 row">
          <a href="¿" class="BottonPrincipal btn btn-primary btn-1 ">Página principal</a>
        </div>
      </div>
    </div>
  </div>
</nav>
